---
- name: acme_syntax
  ansible.builtin.command: acme-client -n

# this includes the fullchain copy for relayd, just in case
- name: acme_request
  ansible.builtin.command: for i in $(cat /etc/acme-client.conf | grep ^domain | cut -d ' ' -f2); do /usr/sbin/acme-client
    -v $i; cp /etc/ssl/$i.fullchain.pem /etc/ssl/$i.crt; done
