{% if (iface.parent is defined and iface.vlanid is defined) %}
parent {{ iface.parent }} vnetid {{ iface.vlanid }}
{% endif %}
{% if iface.addr is defined %}
inet {{ iface.addr }} {{ iface.netmask }}
{% else %}
dhcp
{% endif %}
