{# br0 is public, br1 private, br2 staging/autoinst \#}
{% if bridge == 'bridge0' %}
add {{ virt.bridge }}
{% elif bridge == 'bridge1' %}
add vether0
{% elif bridge == 'bridge2' %}
add vether1
{% elif bridge == 'vether0' %}
inet 172.19.24.0 255.255.255.0
{% elif bridge == 'vether1' %}
inet 100.92.0.1 255.255.255.0
{% endif %}
