<network>
  <name>private</name>
  <bridge name='virbr1' stp='on' delay='0'/>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <ip address='172.19.24.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='172.19.24.2' end='172.19.24.254'/>
    </dhcp>
  </ip>
</network>
