#!/bin/sh

# vagrantbox for openbsd
function setup_openbsd {
    # install packages
    pkg_add -I sudo--
    pkg_add -I python3
    if ! which sudo; then
        echo "failed to install sudo"
        exit 1
    fi
    # create vagrant user
    adduser -batch vagrant
    if ! ls /home/vagrant; then
        echo "failed to create vagrant user"
        exit 1
    fi
    # add sudoers entry
    if ! grep vagrant /etc/sudoers; then
        echo "vagrant ALL=(ALL) NOPASSWD: ALL" | tee -a /etc/sudoers
        echo "Defaults:vagrant !requiretty" | tee -a /etc/sudoers
    fi
    # enable and start sshd
    rcctl enable sshd
    rcctl start sshd
    # add ssh key
    mkdir /home/vagrant/.ssh
    echo "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key" | tee /home/vagrant/.ssh/authorized_keys
    chown -R vagrant:vagrant /home/vagrant
    chmod 0700 /home/vagrant/.ssh
    chmod 0600 /home/vagrant/.ssh/authorized_keys
    # shutdown the box for subsequent export
    shutdown -p now
}

uname -a | grep OpenBSD && setup_openbsd
