unbind C-b
set -g prefix C-a
bind C-a send-prefix

bind-key e split-window -h
bind-key g split-window -v
bind h select-pane -L
bind k select-pane -D
bind l select-pane -U
bind j select-pane -R

setw -gq utf8 on

set -g status-bg black
set -g status-fg white
set-window-option -g window-status-style "fg=white bg=black"
set-window-option -g window-status-current-style "fg=green bold"
#set-window-option -g window-status-current-style "bg=green bold"
#set -g window-status-current-bg white
#set -g window-status-current-fg black
#set -g window-status-current-attr bold
set -g status-interval 60
set -g status-left-length 30
set -g status-left '#[fg=green]#(whoami)@#h '
set -g status-right '#[fg=yellow]#(sysctl -n vm.loadavg)#[default] #[fg=white]%H:%M#[default]'
set -g xterm-keys on

