authority letsencrypt {
        api url "https://acme-v02.api.letsencrypt.org/directory"
        account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
        api url "https://acme-v02.api.letsencrypt.org/directory"
        account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain {{ base.name | default(ansible_fqdn) }} {
        domain key "/etc/ssl/private/{{ base.name | default(ansible_fqdn) }}.key"
        domain certificate "/etc/ssl/{{ base.name | default(ansible_fqdn) }}.crt"
        domain full chain certificate "/etc/ssl/{{ base.name | default(ansible_fqdn) }}.fullchain.pem"
        sign with letsencrypt
}
{% if web.sites is defined %}
{% for site in web.sites %}
{% if site != base.name | default(ansible_fqdn) %}
{% if site.tls is defined %}
domain {{ site.name }} {
{% if site.alts is defined %}
        alternative names { {% for name in site.alts %}{{ name }} {% endfor %} }
{% endif %}
        domain key "/etc/ssl/private/{{ site.name }}.key"
        domain certificate "/etc/ssl/{{ site.name }}.crt"
        domain full chain certificate "/etc/ssl/{{ site.name }}.fullchain.pem"
{% if site.tls == 'dev' %}
        sign with letsencrypt-staging
{% elif site.tls == 'prod' %}
        sign with letsencrypt
{% endif %}
}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if web.relay is defined %}
{% for frontend in web.relay.frontends %}
{% for backend in web.relay.backends %}
{% if frontend.name == backend.origin and frontend.tls is defined %}
{% for domain in backend.domains %}
domain {{ domain }} {
        domain key "/etc/ssl/private/{{ domain }}.key"
        domain certificate "/etc/ssl/{{ domain }}.crt"
        domain full chain certificate "/etc/ssl/{{ domain }}.fullchain.pem"
{% if frontend.tls == 'dev' %}
        sign with letsencrypt-staging
{% elif frontend.tls == 'prod' %}
        sign with letsencrypt
{% endif %}
}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if apps.webdav.tls is defined %}
domain {{ apps.webdav.domain }} {
        domain key "/etc/ssl/private/{{ apps.webdav.domain }}.key"
        domain certificate "/etc/ssl/{{ apps.webdav.domain }}.crt"
        domain full chain certificate "/etc/ssl/{{ apps.webdav.domain }}.fullchain.pem"
{% if apps.webdav.tls == 'dev' %}
        sign with letsencrypt-staging
{% elif apps.webdav.tls == 'prod' %}
        sign with letsencrypt
{% endif %}
}
{% endif %}
