{% if base.cron.raw is defined %}
{% for line in base.cron.raw %}
{{ line }}
{% endfor %}
{% endif %}
{% if base.autoupdate | default(false) %}
# update
~ 0~1 * * * root /usr/sbin/pkg_add -u 2>&1 | grep -v quirks ; /usr/sbin/syspatch
{% endif %}
{% if net is defined %}
{% if net.routes is defined %}
{% for route in net.routes %}
# routes
@reboot root route add {{ route }} >/dev/null 2>&1
{% endfor %}
{% endif %}
{% if net.dns is defined and net.dns.filter | default(true) %}
# dns-adblock
{% if net.dns.filter.whitelist is defined %}
~ 0~1 * * *	_adblock unbound-adblock -O openbsd -w /var/unbound/db/adblock_whitelist
{% else %}
~ 0~1 * * *	_adblock unbound-adblock -O openbsd
{% endif %}
{% endif %}
{% if net.public | default(false) %}
# pf-badhost
~ 0~1 * * *	_pfbadhost pf-badhost -O openbsd
{% endif %}
{% endif %}

