#!/bin/sh

echo ""
if [ "$(uname)" == "OpenBSD" ]; then
    for iface in $(ifconfig | grep -E '^[a-z]+[0-9]:' | cut -d ':' -f1 \
    | grep -vE 'pflog[0-9]|enc[0-9]|lo[0-9]|wg[0-9]|tap[0-9]+|bridge[0-9]|vether[0-9]' | tr '\n' ' '); do \
    mac=$(ifconfig $iface | grep lladdr | cut -d ' ' -f2); echo $iface $mac; done

elif [ "$(uname)" == "Linux" ]; then
    if cat /etc/issue | grep -q Alpine; then
        for iface in $(ifconfig | grep -E '^[a-z]+[0-9]' | awk '{print $1}' \
        | grep -vE 'lo[0-9]|wg[0-9]|br[0-9]|vlan[0-9]+'); do \
        ifconfig $iface | grep HWaddr | awk '{print $1,$5}'; done
    fi
fi
