{% for iface in net.ifaces %}
{% if iface.addr is defined %}
{% set my = namespace(addr='127.0.0.1') %}
{% set my.netexpr = iface.addr + '/' + iface.netmask %}
{% set my.cidrnet = my.netexpr | ansible.utils.ipaddr('network/prefix') %}
{% set my.addr = my.cidrnet | ansible.utils.ipaddr('network') %}
{% endif %}
{% if my.addr is defined and iface.netmask is defined %}
    subnet {{ my.addr }} netmask {{ iface.netmask }} {
{% if iface.dhcp is defined %}
{% for subnet in iface.dhcp %}
{% if subnet.range is defined %}
        range {{ subnet.range }};
{% endif %}
        option domain-name "{{ subnet.domain | default('fsa.local') }}";

{% if subnet.routers is defined %}
        option routers {{ subnet.routers }};
{% else %}
        option routers {{ iface.addr }};
{% endif %}
{% if subnet.dnssrv is defined %}
        option domain-name-servers {{ subnet.dnssrv }};
{% elif net.dns is defined %}
        option domain-name-servers {{ iface.addr }};
{% endif %}
{% if (subnet.deny_unknown is defined and subnet.deny_unknown) %}
        deny unknown-clients;
{% endif %}
{% if subnet.lease_time is defined %}
        max-lease-time {{ subnet.lease_time }};
{% endif %}

{% if subnet.leases is defined %}
{% for lease in subnet.leases %}
        host {{ lease.name }} {
            hardware ethernet {{ lease.mac }};
            fixed-address {{ lease.ip }};
        }
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
    }
{% endif %}
{% endfor %}

{% if virt is defined %}
{# vmd private net \#}
    subnet 172.19.24.0 netmask 255.255.255.0 {
        range 172.19.24.2 172.19.24.254;
        option domain-name "vmd.local";
        option routers 172.19.24.0;
        option domain-name-servers 172.19.24.1;
        max-lease-time 3600;
    }
{# vm autoinstall / molecule \#}
    subnet 100.92.0.0 netmask 255.255.255.0 {
        range 100.92.0.2 100.92.0.254;
        deny unknown-clients;
        option domain-name "vmd.staging.local";
        option routers 100.92.0.1;
        option domain-name-servers 100.92.0.1;
        filename "auto_install";
        max-lease-time 60;
{% for vm in virt.vms %}
{% if vm.install is defined or vm.template is defined %}
        host {{ vm.name }} {
          hardware ethernet {{ '8a:d8:ad' | community.general.random_mac(seed=vm.name) }};
          fixed-address 100.92.0.{{ 254 | random(start=2, seed=vm.name) }};
          filename "auto_install";
          next-server 100.92.0.1;
          option host-name "{{ vm.name }}";
        }
{% endif %}
{% endfor %}
    }
{% endif %}
