[Interface]
PrivateKey = {{ host_privkey.stdout }}
{% if net.vpn.port is defined %}
ListenPort = {{ net.vpn.port | default('51820') }}
{% endif %}

[Peer]
PublicKey = {{ peer_pubkey.stdout }}
{% if net.vpn.peer.addr is defined %}
Endpoint = {{ net.vpn.peer.addr }}:{{ net.vpn.peer.port | default('51820') }}
{% endif %}
{% if net.vpn.port is defined %}
AllowedIPs = {{ net.vpn.peer.transmit | default('0.0.0.0/0') }}
{% else %}
AllowedIPs = 0.0.0.0/0
{% endif %}
{% if net.vpn.psk | default(false) %}
PreSharedKey = {{ peer_psk.stdout }}
{% endif %}
{% if net.vpn.peer.keepalive is defined %}
PersistentKeepAlive = {{ net.vpn.peer.keepalive }}
{% endif %}
