---
- name: "obsd : dhcpd : template the config"
  ansible.builtin.template:
    src: dhcpd.conf.j2
    dest: /etc/dhcpd.conf
    mode: 0600
  notify:
    - dhcpd_syntax
    - dhcpd_restart

- name: "obsd : dhcpd : create logfile"
  ansible.builtin.file:
    path: /var/log/dhcpd.log
    state: touch
    mode: 0600
  changed_when: false
