{% if base.cron is defined %}
{% for line in base.cron %}
{{ line }}
{% endfor %}
{% endif %}
{% if base.autoupdate | default(true) %}
# update
~ ~ * * * root /usr/sbin/pkg_add -u 2>&1 | grep -v quirks ; /usr/sbin/syspatch
{% endif %}
{% if net.routes is defined %}
{% for route in net.routes %}
# routes
@reboot root route add {{ route }} >/dev/null 2>&1
{% endfor %}
{% endif %}
{% if net.vpn.persist | default(false) %}
{% if net.vpn.peer is defined %}
# vpn
* * * * * root if ! ping -c4 {{ net.vpn.peer.addr }} >/dev/null; then sh /etc/netstart wg0; fi
{% elif net.vpn.peers is defined %}
{% for peer in net.vpn.peers %}
* * * * * root if ! ping -c4 {{ peer.addr }} >/dev/null; then sh /etc/netstart wg0; fi
{% endfor %}
{% endif %}
{% endif %}
{% if net.dns is defined and net.dns.filter | default(true) %}
# dns-adblock
{% if net.dns.filter.whitelist is defined %}
~ 0~1 * * *	_adblock unbound-adblock -O openbsd -w /var/unbound/db/adblock_whitelist
{% else %}
~ 0~1 * * *	_adblock unbound-adblock -O openbsd
{% endif %}
{% endif %}
{% if net.public | default(false) %}
# pf-badhost
~ 0~1 * * *	_pfbadhost pf-badhost -O openbsd
{% endif %}
{% if mail is defined or (web is defined and web.sites | selectattr('tls', 'defined') | length > 0) %}
# acme
1 0 1 * * for i in $(cat /etc/acme-client.conf | grep ^domain | cut -d ' ' -f2); do /usr/sbin/acme-client -v $i; cp /etc/ssl/$i.fullchain.pem /etc/ssl/$i.crt; done
2 0 1 * * root for i in httpd smtpd dovecot relayd; do if rcctl check $i >/dev/null; then rcctl restart $i; done
{% endif %}
