#	$OpenBSD: syslog.conf,v 1.20 2016/12/27 13:38:14 jca Exp $

*.notice;auth,authpriv,cron,ftp,kern,lpr,mail,user.none	/var/log/messages
kern.debug;syslog,user.info				/var/log/messages
auth.info						/var/log/authlog
authpriv.debug						/var/log/secure
cron.info						/var/cron/log
{% if net.dns is defined %}
!!unbound
daemon.*                        /var/log/unbound.log
!*
{% endif %}
{% if net.ifaces | selectattr('dhcp', 'defined') | length > 0 %}
!!dhcpd
daemon.*                        /var/log/dhcpd.log
!*
{% endif %}
{% if web.relay is defined %}
!!relayd
daemon.*   						/var/log/relayd.log
!*
{% endif %}
daemon.info						/var/log/daemon
ftp.info						/var/log/xferlog
lpr.debug						/var/log/lpd-errs
mail.info						/var/log/maillog
