syntax on
set wildmenu
set hlsearch
set showcmd
set nostartofline
set ignorecase
set smartcase
set confirm
set visualbell
set number
set expandtab
set shiftwidth=4
set softtabstop=4
set mouse=
set laststatus=2
set statusline+=%F
set backspace=indent,eol,start
highlight ExtraWhitespace ctermbg=red guibg=red
match ExtraWhitespace /\s\+$/

