{% set my = namespace(port='80') %}
{% if web.relay.frontends is defined %}
{% for frontend in web.relay.frontends %}
# {{ frontend }}
{% if frontend.port == 80 %}
{% set my.port = '8080' %}
{% endif %}
{% endfor %}
{% endif %}

server "*" {
	listen on * port {{ my.port }}
	location "/.well-known/acme-challenge/*" {
		root "/acme"
		request strip 2
	}
	location * {
		block return 302 "https://$HTTP_HOST$REQUEST_URI"
	}
}

