prefork 16
log connection

{% for backend in web.relay.backends %}
table <{{ backend.name }}> { {{ backend.targets | join(' ') }} }
{% endfor %}

{% for frontend in web.relay.frontends %}
{{ frontend.type |default('http') }} protocol "{{ frontend.name }}" {
{% if frontend.type |default('http') != 'dns' %}
        tcp { nodelay sack, backlog 256, socket buffer 65536 }
{% endif %}
{% if frontend.type |default('http') == 'http' %}
{% if frontend.wsock | default(false) %}
        http websockets
{% endif %}
{% if web.relay.frontends | selectattr('tls', 'eq', 'prod') | length > 0  or web.relay.frontends | selectattr('tls', 'eq', 'dev') | length > 0 %}
        tls { no tlsv1.0, ciphers 'HIGH:!aNULL' }
        tls no session tickets
        return error

        match request header append "X-Forwarded-For" value "$REMOTE_ADDR"
        match request header append "X-Forwarded-By" value "$SERVER_ADDR:$SERVER_PORT"
        match request header append "X-Forwarded-Proto" value "https"
        match request header set "Connection" value "close"
        match header log "Host"
        match header log "X-Forwarded-For"
        match header log "User-Agent"
        match url log
{% for backend in web.relay.backends %}
{% for domain in backend.domains %}
{% for frontend in web.relay.frontends %}
{% if frontend.name == backend.origin %}
{% if frontend.tls == 'prod' or frontend.tls == 'dev' %}
        tls keypair {{ domain }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
{% for backend in web.relay.backends %}
{% if backend.domains is defined %}
{% for domain in backend.domains %}
{% if backend.sources is defined %}
{% for source in backend.sources %}
        pass request quick from {{ source }} header "Host" value "{{ domain }}" forward to <{{ backend.name }}>
{% endfor %}
{% else %}
        pass request quick header "Host" value "{{ domain }}" forward to <{{ backend.name }}>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
        block request
}
{% endfor %}

{% for frontend in web.relay.frontends %}
relay {{ frontend.name }} {
        listen on {{ frontend.addr }} port {{ frontend.port }} {% if frontend.tls is defined %}tls
{% endif %}
        protocol "{{ frontend.name }}"
{% for backend in web.relay.backends %}
{% if backend.origin == frontend.name %}
{% if backend.check is defined %}
{% if backend.check.type == 'http' %}
        forward to <{{ backend.name }}> port {{ backend.port }} check {{ backend.check.type }} "{{ backend.check.path }}" code {{ backend.check.code }}
{% elif backend.check.type == 'tcp' %}
        forward to <{{ backend.name }}> port {{ backend.port }} check {{ backend.check.type }}
{% endif %}
{% else %}
        forward to <{{ backend.name }}> port {{ backend.port }}
{% endif %}
{% endif %}
{% endfor %}
}
{% endfor %}

