---
# i haven't found a smooth way to do this natively
- name: "finder : template out script"
  ansible.builtin.template:
    src: finder.sh.j2
    dest: /tmp/finder.sh
    mode: 0640
  changed_when: false

- name: "finder : exec it"
  ansible.builtin.command: sh /tmp/finder.sh
  register: fsa_ethernets
  changed_when: false

- name: "finder : clean up"
  ansible.builtin.file:
    path: /tmp/finder.sh
    state: absent
  changed_when: false

- name: "finder : echo results"
  ansible.builtin.debug:
    msg: "Available ethernets on {{ ansible_fqdn }}: {{ fsa_ethernets.stdout }}"
  changed_when: false
