wgkey {{ myprivkey['content'] | b64decode }}
{%- if net.vpn.peers | selectattr('listen', 'true') | length > 0 %}
wgport 51820
{% endif %}
{%- for peer in net.vpn.peers %}
{%- if peer.pubkey is defined -%}
wgpeer {{ peer.pubkey }}
{%- else %}
{%- for result in peers_pubkeys.results -%}
{%- if result.peer.name == peer.name -%}
wgpeer {{ result.stdout }}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- if peer.psk is defined %}
{%- if peer.psk == 'local' %}
 wgpsk {{ mypsk['content'] | b64decode | trim }}
{%- elif peer.psk == 'remote' %}
{%- for result in peers_psks.results %}
{%- if result.peer.name == peer.name %}
 wgpsk {{ result.stdout }}
{%- endif -%}
{%- endfor -%}
{%- else -%}
 wgpsk {{ peer.psk }}
{%- endif -%}
{%- elif peer.pubkey is not defined %}
{%- if peer.listen | default(false) %}
 wgpsk {{ mypsk['content'] | b64decode | trim }}
{%- else %}
{%- for result in peers_psks.results %}
{%- if result.peer.name == peer.name %}
 wgpsk {{ result.stdout }}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endif -%}
{%- if not peer.listen | default(false) %}
 wgendpoint {{ peer.addr }} 51820 wgaip 0.0.0.0/0
{%- else %}
 wgaip {{ peer.addr }}
{%- endif %}
{% if peer.keepalive is defined %}
 wgpka {{ peer.keepalive }}
{% endif %}

{% endfor %}
inet {{ net.vpn.myaddr }}/24
up
