# $OpenBSD: vm.conf,v 1.10 2020/05/17 17:04:29 deraadt Exp $

switch "uplink" {
	interface bridge0
}

{% for vm in virt.vms %}
vm "{{ vm.name }}" {
{% if not vm.autostart | default(true) %}
    disable
{% endif %}
    memory {{ vm.mem }}
    disk "/home/vms/{{ vm.name }}.img"
{% if vm.install is defined %}
{% if vm.install == 'openbsd' %}
    cdrom "/home/isos/openbsd.iso"
{% elif vm.install == 'debian' %}
    cdrom "/home/isos/debian.iso"
{% elif vm.install == 'alpine' %}
    cdrom "/home/isos/alpine.iso"
{% endif %}
{% elif vm.iso is defined %}
{% if '/' in vm.iso %}
    cdrom "{{ vm.iso }}"
{% else %}
    cdrom "/home/isos/{{ vm.iso }}"
{% endif %}
{% endif %}
{% if vm.mac is defined %}
    interface {{ vm.bridge }} {
        lladdr {{ vm.mac }}
{% if vm.stopped is defined and vm.stopped %}
        down
{% endif %}
{% else %}
    interface {
{% endif %}
        switch "uplink"
    }
}
{% endfor %}

